.headcontainer {
   
    width: 1340px;
    height: 50px;
    background-color: whitesmoke;
    
}
.head{
    display: flex;
    justify-content: space-between;
    width: 1340px;
    height: 50px;

}
.righthead img{
     width: 100px;
     justify-content: center;
     margin-top: -4rem;
}
.lefthead{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    
}
.lefthead img{
    width: 40px;
    height: 30px;
}
.righthead{
    
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-top: 4rem;
    text-align: center;
}
.lefthead button{
    position: relative;
  background-color: black;
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 10px;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.custom{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: .5rem;
    margin-right: 10rem;
    margin-left: 10rem;
}
.partner{
    display: flex;
    margin-top: .5rem;
    margin-right: 10rem;
    margin-left: 3rem;
}
.back{
    background-image: url(../images/5088857.jpg);
    display: flex;
    width: 1340px;
    height: 1000px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
}
.back h1{
    color: snow;
    margin-top: 2rem;
    margin-right: 10rem;
    margin-left: 10rem;
}
.back p{
    color: snow;
    margin-top: 2rem;
    margin-right: 10rem;
    margin-left: 10rem;
}
 ::after, ::before {
    box-sizing: border-box;
}
.content{
    display: flex;
    
    width: 300px;
    height: 100px;
    justify-content: space-between;
    flex-direction: row;
}
.saas{
    margin: -0.5rem;
    margin-top: 0.5rem;
    margin-left: -7rem;
    width: 500px;
    height: 100px;
}
.saas img{
    border-radius: 100%;
}
.user{
    margin: -0.5rem;
    margin-top: 0.5rem;
    margin-left: -10rem;
    width: 500px;
    height: 100px;
}
.user img{
    border-radius: 100%;
}
.mobile{
    margin: -0.5rem;
    margin-top: 0.5rem;
    margin-left: -10rem;
    width: 500px;
    height: 100px;
}
.mobile img{
    border-radius: 100%;
}
.iot{
    flex-direction: column;
    margin: -0.5rem;
    margin-top: 0.5rem;
    margin-left: -10rem;
    width: 500px;
    height: 100px;
}
.iot img{
    border-radius: 100%;
}
.content2{
display: flex;
    
    width: 300px;
    height: 100px;
    justify-content: space-between;
    flex-direction: row;
    margin: -0.5rem;
    margin-top: 20rem;
}
.staff{
    margin: -0.5rem;
    margin-top: 0.5rem;
    margin-left: -7rem;
    width: 500px;
    height: 100px;
}
.staff img{
    border-radius: 100%;
}
.web{
    margin: -0.5rem;
    margin-top: 0.5rem;
    margin-left: -10rem;
    width: 500px;
    height: 100px;
}
.web img{
    border-radius: 100%;
}
.digital{
    margin: -0.5rem;
    margin-top: 0.5rem;
    margin-left: -10rem;
    width: 500px;
    height: 100px;
}
.digital img{
    border-radius: 100%;
}
.chat{
    margin: -0.5rem;
    margin-top: 0.5rem;
    margin-left: -10rem;
    width: 500px;
    height: 100px;
}
.chat img{ 
    border-radius: 100%;
}
.custom2{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: .5rem;
    margin-right: 10rem;
    margin-left: 10rem;   
}
.products{
    display: flex;
    margin: 0.2rem;
}

    
.product2{
    margin: 0.2rem;
    text-align: center;
    margin-top: 10rem;
}
.custom3{
    justify-content: center;
    
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: .5rem;
    margin-right: 0;
    margin-left: 0;   
}
.gallery{
    display: flex;
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
    margin-right: 10rem;
}
.custom4{
    justify-content: center;
     flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: .5rem;
    margin-right: 1rem;
    margin-left: -30rem;   

}
.but {
    display: flex;
    
}
.but1{
    
    margin-left: -30rem;
    margin-right: 0.8rem;
    display: block;
}
.but2{
    
    margin-left: 0rem;
    margin-right: 0.8rem;
    display: block;
}
.but3{
    
    display: block;
    margin-right: 0.8rem;
}
.but4{
    
    display: block;
    margin-right: 0.8rem;
}
.but5{
    
    display: block;
    margin-right: 0.8rem;
}
.but6{
    
    display: block;
    margin-right: 0.8rem;
    margin-top: 7rem;
    margin-left: -30rem;
    display: flex;
    
}
.custom5{
    justify-content: center;
     flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: .5rem;
    margin-right: 1rem;
    margin-left: -30rem;   

}
.custom6{
    justify-content: center;
    flex-direction: column;
   align-content: center;
   text-align: center;
   margin-top: .5rem;
   margin-right: 1rem;
   margin-left: -30rem;   
  
}
.other{
    display: flex;
    margin-top: .5rem;
    margin-right: 0.8rem;
    margin-left: -26rem;
}
.content3{
    display: flex;
    
    width: 300px;
    height: 100px;
    justify-content: space-between;
    flex-direction: row;
}
.GoodFirms{
    margin: -0.5rem;
    margin-top: 0.5rem;
    margin-left: -30rem;
    width: 500px;
    height: 100px;
}
.Softwareworld{
    margin: -0.5rem;
    margin-top: 0.5rem;
    margin-left: 10rem;
    width: 500px;
    height: 100px;
}
.Appfutura{
    margin: -0.5rem;
    margin-top: 0.5rem;
    margin-left: 10rem;
    width: 500px;
    height: 100px;
}
.Clutch{
    flex-direction: column;
    margin: -0.5rem;
    margin-top: 0.5rem;
    margin-left: 10rem;
    width: 500px;
    height: 100px;
}
.custom7{
    justify-content: center;
    flex-direction: column;
   align-content: center;
   text-align: center;
   margin-top: 10rem;
   margin-right: 1rem;
   margin-left: -30rem;   
  
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 5rem;
    
  }
.contact{
    
    margin-left: -30rem;
    margin-top: -29rem;
}
.bottomtop{
    display: flex;
    justify-content: space-between;
    
}
.bottombottom{
    display: flex;
    justify-content: space-between;
}
.bottombox{
    margin-left: -30rem;
    margin-top: 7rem;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box;
    padding: 20px;
}






























